= render "devise/layouts/header"
.container
  .contents
    .content-header
      %h1 会員登録完了
    .content__message
      %p ありがとうございます。
      %p 会員登録が完了しました。
    .content__start-btn
      = link_to "/" do
        メルカリをはじめる
    .footer-first
      .footer-first__box
        .footer-first__box__left
          .footer-first__box__left__content-1
            スマホでかんたんフリマアプリ
          .footer-first__box__left__content-2
            今すぐ無料ダウンロード！
          .footer-first__box__left__aikon-box
            = image_tag src="logo_red.svg",width: "68",height: "68",class: "merukali"
            = link_to image_tag("Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg",:width => "120",:height => "60"),"#"
            = link_to image_tag("google-play-badge.png",:width => "150",:height => "60"),"#"
        .footer-first__box__right
          = image_tag "footer_box-image",size:"300x260"
    = render "devise/layouts/footer"