.single
  .single__header
    .single__header-logo
      = image_tag src="fmarket_logo_red.svg", alt:"merukari" , height: "50px", width: "185px"
.buy
  .buy__main
    .buy__main__centerbox
      購入が完了しました
    .buy__main__alert
      .buy__main__alert__box
        .buy__main__alert__box__top
          %i.far.fa-clock.alert__icon
        .buy__main__alert__box__text
          発送をお待ちください
      .buy__main__alert__bottom
        出品者からの発送通知をお待ちください
    .buy__main__item
      .buy__main__item__bx
        = form_for @item do |f|
          = f.fields_for :images do |i|
            .buy__main__item__bx__image
              = image_tag i.object.image.url, size:"80x80"
        .buy__main__item__bx__right
          .buy__main__item__bx__right__name
            = @item.name
          .buy__main__item__bx__right__detail
            - i_price = @item.price.to_s
            = "¥" + i_price + " (税込) 送料込み"
    .buy__main__buyinfo
      .buy__main__buyinfo__detail
        支払い金額 
      .buy__main__buyinfo__price
        = "¥" + i_price
    .buy__main__buybutton
      = link_to "戻る", root_path
  =render "devise/layouts/footer"
