.header
  .header__all

    .headerform
      .mercarilogo
        = link_to image_tag(src="fmarket_logo_red.svg",alt:"fmarket",width: "134",height:"36",class: "mercaribox"), items_path
      .form
        %input.input-default{name: "keywrod", placeholder: "何かお探しですか？", type: "search"}
        .form__btn
          %i.fa.fa-search
    .menu
      .menu__left
        .categorybox
          .categorybox__image
            %i.fas.fa-list
            カテゴリーから探す
        .brandbox
          .brandbox__image
            %i.fas.fa-tags
            = link_to "ブランドから探す", destroy_user_session_path, method: :delete
              
          -# この中にブランド一覧
      .menu__right
        - if user_signed_in?
          .good-box
            .good-box__image
              = link_to  do
                %i.far.fa-heart
                いいね！一覧
          .noticebox
            .noticebox__image
              = link_to  do
                %i.far.fa-bell
                お知らせ
          .todolistbox
            .todolistbox__image
              = link_to new_user_registration_path do
                %i.fas.fa-check
                やることリスト
          .mypage
            .mypage__box
              = link_to  do
                = image_tag "mypage.jpg",class: "face",width: "28"
                %h2 マイページ
        - else
          = link_to new_user_registration_path do
            .signup-box
              新規会員登録
          = link_to new_user_session_path do
            .login-box
              ログイン




