.slick
  .first-slide
    = link_to image_tag("Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg",alt: "appleダウンロード" ,class: "apple_dl"), "#"
    = link_to image_tag("google-play-badge.png",width: "160",alt: "googleダウンロード",class: "google_dl"), "#"
    = image_tag "have_smartphone.png", size: "630x300", alt: "スマホ画像", class: "smartphone"     
    %h3.title 
      スマホでかんたん 
      %br
      フリマアプリ
    %h4.subtitle 
      Fmarketはスマホカメラからすぐに出品できる
      %br
      購入時も安心な独自システムのアプリです
  .slide-img
    = image_tag "slide_girl.jpg", size: "630x300", alt: "セール情報" ,class: "slide_img"
  .slide-img
    = image_tag "slide_present.jpg", size: "630x300", alt: "プレゼントキャンペーン",class: "slide_img"

