.wrapper
  = render "shared/header"
  = render "shared/slick"
  = render "contents"
  - @items.each do |item|
    = render partial: 'items', locals: { item: item }
  = render "shared/footer"
  = render "shared/Exhibit_button"