= render "devise/layouts/header"
.single
  .single__header
    = link_to root_path do
      .single__header-logo
        = image_tag src="fmarket_logo_red.svg", alt:"merukari" , height: "50px", width: "185px"
  .container
    .contents__login-box
      .content__header
        %p アカウントをお持ちでない方はこちら
        = link_to new_user_registration_path do
          .signup
            新規会員登録
    .content-form-box
      %button.facebook-login
        = icon('fab', 'facebook-square',class: "facebook-icon")
        %p Facebookでログイン
      %button.google-login
        %i.fab.fa-google.google-icon
        %p Googleでログイン
      = form_with model: @user, url: user_session_path, local: true do |f|
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス",class: "login-information"
        = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード",class: "login-information"
        = f.submit "ログイン",class:"submit-login"
= render "devise/layouts/footer"

