
.wrapper
  = render "shared/header"
  = render "shared/slick"
  - @items.each do |item|
    = render partial: "contents",locals: { item: item } 
  = render "shared/footer"
  = render "shared/Exhibit_button"

