
-# .item
-#   - @items.each do |item|
-#     =link_to "詳細", "/items/#{item.id}", method: :get
-#     .item__brock
-#       - item.images.each do |image|
-#         = image_tag image.image.url
.wrapper
  = render "shared/header"
  = render "shared/slick"
  = render "contents"
  = render "shared/footer"  
  = render "shared/Exhibit_button"

