= render "devise/layouts/header"
.container
  .contents
    .content-header
      %h1 支払い方法
    .content-form
    = form_with url: cards_path, method: :post, html: { name: "inputForm" } do |f|
      %label.text カード番号
      %span.required 必須
      .content-form__input-small-box
        = f.text_field :card_number, type: 'text', placeholder: '半角数字のみ', maxlength: "16"
      .content-form__credit-box
        = image_tag src="/images/credit-card_28.png",alt:"credit",width: "50px",height: "40px",class: "credit-card"
        = image_tag src="/images/credit-card_1.png",alt:"credit",width: "50px",height: "40px",class: "credit-card"
        = image_tag src="/images/credit-card_9.png",alt:"credit",width: "50px",height: "40px",class: "credit-card"
        = image_tag src="/images/credit-card_22.png",alt:"credit",width: "50px",height: "40px",class: "credit-card"
        = image_tag src="/images/credit-card_2.png",alt:"credit",width: "50px",height: "40px",class: "credit-card"
      %label.text 有効期限
      %span.required 必須
      .content-form__day-yearbox
        = f.select :month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'select-day'
        %span.select-content-day 月
        = f.select :year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'select-day'
        %span 年
      %label セキュリティコード
      %span.required 必須
      .content-form__input-small-box
        %input.input-text{type:"text",placeholder: "カード背面4桁もしくは3桁の番号"}
        = f.text_field :cvc, type: 'text', class: 'input-text', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
      .content-form__description-box
        .content-form__description-box__content-box
          %span ?
          カード裏面の番号とは？
      = f.submit '次へ進む'
  = render "devise/layouts/footer"
