.exhibit
  .exhibit__text
    = link_to '出品', new_item_path
    %br/
    %i.fa.fa-camera
.category
  .category__top
    人気のカテゴリー
  .category__genre

    .category__genre__box
      .category__genre__box__text
        レディース
    .category__genre__box
      .category__genre__box__text
        メンズ
    .category__genre__box
      .category__genre__box__text
        家電・スマホ・カメラ
    .category__genre__box
      .category__genre__box__text
        おもちゃ・ホビー・グッズ

.item
  .item__name
    .item__name__box
      レディース新着アイテム
    .item__name__details
      = link_to "もっと見る", "/mypage"

  .item__main
    .item__main__content
      .item__main__content__image
        .item__main__content__image__picture
          = image_tag 'bag.jpeg', height: '188px', width: '188px'
        .item__main__content__image__price
          .item__main__content__image__price__money
            ¥2,100
      .item__main__content__text
        .item__main__content__text__sale
          エルメス バッグ


.item
  .item__name
    .item__name__box
      メンズ新着アイテム
    .item__name__details
      = link_to "もっと見る", "/profile"

  .item__main
    .item__main__content
      .item__main__content__image
        .item__main__content__image__picture
          = image_tag 'bag.jpeg', height: '188px', width: '188px'
        .item__main__content__image__price
          .item__main__content__image__price__money
            ¥2,100
      .item__main__content__text
        .item__main__content__text__sale
          エルメス バッグ


.item
  .item__name
    .item__name__box
      家電・スマホ・カメラ
    .item__name__details
      = link_to "もっと見る", "/user-confirmation"

  .item__main
    .item__main__content
      .item__main__content__image
        .item__main__content__image__picture
          = image_tag 'bag.jpeg', height: '188px', width: '188px'
        .item__main__content__image__price
          .item__main__content__image__price__money
            ¥2,100
      .item__main__content__text
        .item__main__content__text__sale
          エルメス バッグ



.item
  .item__name
    .item__name__box
      おもちゃ・ホビー・グッズ
    .item__name__details
      =link_to "もっと見る", "/logout"

  .item__main
    .item__main__content
      .item__main__content__image
        .item__main__content__image__picture
          = image_tag 'bag.jpeg', height: '188px', width: '188px'
        .item__main__content__image__price
          .item__main__content__image__price__money
            ¥2,100
      .item__main__content__text
        .item__main__content__text__sale
          エルメス バッグ



.category
  .category__top
    人気のブランド
  .category__genre


    .category__genre__box
      .category__genre__box__text
        シャネル
    .category__genre__box
      .category__genre__box__text
        ルイヴィトン
    .category__genre__box
      .category__genre__box__text
        シュプリーム
    .category__genre__box
      .category__genre__box__text
        ナイキ

.item
  .item__name
    .item__name__box
      シャネル
    .item__name__details
      =link_to "もっと見る", "/product-listing"

  .item__main
    .item__main__content
      .item__main__content__image
        .item__main__content__image__picture
          = image_tag 'bag.jpeg', height: '188px', width: '188px'
        .item__main__content__image__price
          .item__main__content__image__price__money
            ¥2,100
      .item__main__content__text
        .item__main__content__text__sale
          エルメス バッグ

  

.item
  .item__name
    .item__name__box
      ルイヴィトン
    .item__name__details
      =link_to "もっと見る", "/purchase"

  .item__main
    .item__main__content
      .item__main__content__image
        .item__main__content__image__picture
          = image_tag 'bag.jpeg', height: '188px', width: '188px'
        .item__main__content__image__price
          .item__main__content__image__price__money
            ¥2,100
      .item__main__content__text
        .item__main__content__text__sale
          エルメス バッグ

//シュプリーム
.item
  .item__name
    .item__name__box
      シュプリーム
    .item__name__details
      =link_to "もっと見る", "show"

  .item__main
    .item__main__content
      .item__main__content__image
        .item__main__content__image__picture
          = image_tag 'bag.jpeg', height: '188px', width: '188px'
        .item__main__content__image__price
          .item__main__content__image__price__money
            ¥2,100
      .item__main__content__text
        .item__main__content__text__sale
          エルメス バッグ


.item
  .item__name
    .item__name__box
      ナイキ
    .item__name__details
      もっと見る

  .item__main
    .item__main__content
      .item__main__content__image
        .item__main__content__image__picture
          = image_tag 'bag.jpeg', height: '188px', width: '188px'
        .item__main__content__image__price
          .item__main__content__image__price__money
            ¥2,100
      .item__main__content__text
        .item__main__content__text__sale
          エルメス バッグ
