.header
  .header__all

    .headerform
      -# TOPのメルカリのロゴ
      .mercarilogo
        = image_tag src="fmarket_logo_red.svg",alt:"mercari",width: "134",height:"36",class: "mercaribox"
      .form
        -#  検索フォーム formforに変更するかも
        %input.input-default{name: "keywrod", placeholder: "何かお探しですか？", type: "search"}
        .form__btn
          %i.fa.fa-search
    .menu
      .menu__left
        %ul
          %li
            -# .categorybox__image
            %i.fas.fa-list
            カテゴリーから探す
            %ul.mather
              %li.first
                =link_to "レディース"
                %ul
                  %li.second
                    - @category_children1.each do |i|
                      =i.name
                      %br
                    %ul
                      %li.third
                        - @category_children1.each do |i|
                          - i.children.first(1).each do |b|
                            =b.name
                            %br
              %li.first 
                =link_to "メンズ"
              %li.first 
                =link_to "ベビー・キッズ"
              %li.first 
                =link_to "インテリア・住まい・小物"
              %li.first 
                =link_to "本・音楽・ゲーム"
              %li.first 
                =link_to "おもちゃ・ホビー・グッズ"
              %li.first 
                =link_to "コスメ・香水・美容"
              %li.first 
                =link_to "家電・スマホ・カメラ"
              %li.first
                =link_to "スポーツ・レジャー"
              %li.first 
                =link_to "ハンドメイド"
              %li.first 
                =link_to "チケット"
              %li.first 
                =link_to "自転車・オートバイ"
              %li.first 
                =link_to "その他"
              %li.first 
                =link_to "カテゴリー一覧"
            %ul.children
              = render partial:"./items/ancestry-children", collection: @parent
          %li
            %i.fas.fa-tags
            = link_to "ブランドから探す", destroy_user_session_path, method: :delete
            -# %ul
            -#   %li
            -#     =link_to "シャネル"
            -#   %li
            -#     =link_to "ナイキ"
            -#   %li
            -#     =link_to "ルイ ヴィトン"
            -#   %li
            -#     =link_to "シュプリーム"
            -#   %li
            -#     =link_to "アディダス"
            -#   %li
            -#     =link_to "ブランド一覧"
          -# この中にブランド一覧
      .menu__right
        - if user_signed_in?
          .good-box
            .good-box__image
              = link_to  do
                %i.far.fa-heart
                いいね！一覧
          .noticebox
            .noticebox__image
              = link_to  do
                %i.far.fa-bell
                お知らせ
          .todolistbox
            .todolistbox__image
              = link_to new_user_registration_path do
                %i.fas.fa-check
                やることリスト
          .mypage
            .mypage__box
              = link_to  do
                = image_tag "mypage.jpg",class: "face",width: "28"
                %h2 マイページ
        - else
          = link_to new_user_registration_path do
            .signup-box
              新規会員登録
          = link_to new_user_session_path do
            .login-box
              ログイン




