.item-main
  .itemcontent
    .itemname
      %h1 伝説のバッグ

    .maincontent
      .itemimage
        -# 画像は仮置き
        .itemimage__box
          .itemimage__box__main
          = image_tag src="/images/mypage.jpg/",alt:"",width: "300"
          .itemimage__box__sub
          = image_tag src="/images/mypage.jpg/",alt:"",width: "60"
      .itemdate
        %table
          %tr 
            %th 出品者
            %td
              = link_to "" "プロフ見てね！"
              -# いいねボタンの仮置き 
          %tr
            %th カテゴリー
            -# パンクず仮置き
            -# 並び肩はcssで調整予定
            %td
              = link_to "" "レディース"
              = link_to "" "バッグ"
              = link_to "" "超バッグ"
          %tr
            %th ブランド
            %td 
              = link_to "" "シャネル"
          %tr
            %th 商品の状態
            %td 未使用に近い
          %tr
            %th 配送料の負担
            %td 送料込み（出品者負担）
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送地域
            %td 
              = link_to "" "兵庫県"
          %tr
            %th 発送日の目安
            %td 2~3日で発送
    .price
      %span.price__item
        仮¥2,000,000
      %span.price__tax
        (税込)
      %span.price__postage
        送料込み
    
    %button.pricebtn{name: "price", type: "submit", value: ""}
      %span 購入ボタンに進む
    %button.apptext{name: "購入アプリ", type: "submit", value: ""}
      %span アプリで購入
    .itemtext
      .itemtext__bb
        美品
        コーチショルダーバッグ(2way)

        未使用に近く綺麗な状態です。
        サイズ  縦22㎝   横下26㎝～上34㎝  マチ8㎝
    .itemunder 
      .itemunder__left
        .itemunder__left__heart
          %i.far.fa-heart
            いいね！6
        .itemunder__left__flag
          %i.far.fa-flag
            不適切な商品の警告

      .itemunder__right
        %i.fas.fa-lock
          あんしん・安全への取り組み
    .item-message
      .item-message__box
        .item-message__box__main
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea.input.textcoment{name: "main", type: "text"}
        %button.comentsubmit{name: "submit", type: "submit", value: ""}
          %span コメントする
        
  .itemelinknext
    .linkleft
      %i.fas.fa-arrow-left
        %a{ href:'#'} 前の商品
    .linkright
      %i.fas.fa-arrow-right
        %a{ href:'#'}次の商品
  .external-link
    %ul.external-link__box
      %li
        %i.fab.fa-facebook-square.fa-3x
      %li
        %i.fab.fa-twitter-square.fa-3x
      %li
        %i.fab.fa-line.fa-3x
      %li
        %i.fab.fa-instagram.fa-3x
  .item-list-profile
    %section.item-list-profile__box1
      %h2.item-list-profile__box1__head
        = link_to "" "○○さんのその他の出品"
    .item-list-profile__list
      %section.item-list-box
        =link_to ""
        %figure.item-list-box__image
          = image_tag src="/images/mypage.jpg/",alt:"",width: "50",class:"srcc"
        .item-list-box__textbox
          %h3.item-list-box__textbox__name
            商品の名前
          .item-list-box__textbox__num
            .item-list-box__textbox__num__price
              ¥1,400
            .item-list-box__textbox__num__heart
              %i.far.fa-heart
                %span 2

      %section.item-list-box
        =link_to ""
        %figure.item-list-box__image
          = image_tag src="/images/mypage.jpg/",alt:"",width: "50",class:"srcc"
        .item-list-box__textbox
          %h3.item-list-box__textbox__name
            商品の名前
          .item-list-box__textbox__num
            .item-list-box__textbox__num__price
              ¥1,400
            .item-list-box__textbox__num__heart
              %i.far.fa-heart
                %span 2

      %section.item-list-box
        =link_to ""
        %figure.item-list-box__image
          = image_tag src="/images/mypage.jpg/",alt:"",width: "50",class:"srcc"
        .item-list-box__textbox
          %h4.item-list-box__textbox__name
            商品の名前
          .item-list-box__textbox__num
            .item-list-box__textbox__num__price
              ¥1,400
            .item-list-box__textbox__num__heart
              %i.far.fa-heart
                %span 2
  .otheritem
    %h4.otheritem__head
      =link_to "" "レディース その他の商品"
    .other-content
      %section.other-content__box
        = link_to ""
        %figure.other-box
          = image_tag src="/images/mypage.jpg/",alt:"",width: "50",class:"srcc2"
        .othertext
          %h5.othertext__name
            商品の名前
          .othertext__num
            .othertext__num__price
              ¥1,500
            .othertext__num__heart
              %i.far.fa-heart
                %span 2
    
      %section.other-content__box
        = link_to ""
        %figure.other-box
          = image_tag src="/images/mypage.jpg/",alt:"",width: "50",class:"srcc2"
        .othertext
          %h5.othertext__name
            商品の名前
          .othertext__num
            .othertext__num__price
              ¥1,500
            .othertext__num__heart
              %i.far.fa-heart
                %span 2
    
      %section.other-content__box
        = link_to ""
        %figure.other-box
          = image_tag src="/images/mypage.jpg/",alt:"",width: "50",class:"srcc2"
        .othertext
          %h5.othertext__name
            商品の名前
          .othertext__num
            .othertext__num__price
              ¥1,500
            .othertext__num__heart
              %i.far.fa-heart
                %span 2

