%div.slick  
  %div.slide-all
    = link_to image_tag("Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg",alt: "appleダウンロード" ,class: "apple_dl"), "#"
    = link_to image_tag("google-play-badge.png",width: "160",alt: "googleダウンロード",class: "google_dl"), "#"
    %h3
      = image_tag "have_smartphone.png", size: "680x380", alt: "スマホ画像", class: "smartphone"
      %h3.title 
        スマホでかんたん 
        %br
        フリマアプリ
      %h4.subtitle 
        メルカリはスマホカメラからすぐに出品できる
        %br
        購入時も安心な独自システムのアプリです
  %div
    %div
    = image_tag "slide_girl.jpg", size: "680x380", alt: "セール情報" ,class: "slide_img"
  %div
    %div
    = image_tag "slide_present.jpg", size: "680x380", alt: "プレゼントキャンペーン",class: "slide_img"
  %div
    %div
    = image_tag "slide_camp.png", size: "680x380", alt: "キャンプ特集",class: "slide_img"

