<<<<<<< Updated upstream
%div.slick
  %div
    %h3
    = image_tag "top_camp.png", size: "680x380", alt: "スマホの画像"
  %div
    %h3
    %p スマホでかんたん
    %p スマホアプリ
    %h4
    %p メルカリはスマホカメラからすぐに出品できる
    %p 購入時も安心な独自システムのアプリです
    



  %div
    %h3 3
  %div
    %h3 4
  %div
    %h3 5
  %div
    %h3 6
=======
%div.slick  
  %div.slide-all
    %h3
    %div.title 
      %p 
      スマホでかんたん 
      %br
      フリマアプリ
    %h4
    %div.subtitle 
      %p
      メルカリはスマホカメラからすぐに出品できる
      %br
      購入時も安心な独自システムのアプリです
    = link_to image_tag("Download_on_the_App_Store_Badge_JP",alt: "appleダウンロード" ,class: "apple_dl"), "#"
    = link_to image_tag("google-play-badge.png",width: "160",alt: "googleダウンロード",class: "google_dl"), "#"
    %h3
    = image_tag "have_smartphone.png", size: "680x380", alt: "スマホ画像", class: "smartphone"
  %div
    %div
    = image_tag "slide_girl.jpg", size: "680x380", alt: "セール情報" ,class: "slide_img"
  %div
    %div
    = image_tag "slide_present.jpg", size: "680x380", alt: "プレゼントキャンペーン",class: "slide_img"
  %div
    %div
    = image_tag "slide_camp.png", size: "680x380", alt: "キャンプ特集",class: "slide_img"
>>>>>>> Stashed changes
